    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Geeky Lines</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Categories</a>
                    </li>
                    <li>
                        <a href="" ng-click="dbd.submitLine()">Submit New</a>
                    </li>
                     <li>
                        <a href="#">Status</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    
                </ul>
                
                 <ul class="nav navbar-nav navbar-right">
      				<form class="navbar-form">
        			<div class="input-group">
           			 <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
           			 <div class="input-group-btn">
                	<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            		</div>
       				 </div>
       				 <button class="btn btn-info" ng-click="dbd.logout()">Logout</button>
        			</form>
    			</ul>
    			
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Pickup Lines
                    <small><span class="label label-default">Latest</span></small>
                    <img src="img/birdheart.jpg" class="img-thumbnail" width="70" height="35">
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-sm-7 pickupodd">
                <h2 class="pickuplineodd" align="center">"Roses are Red Violets are blue, <br> If you were a pokemon I would choose you"</h2>
            </div>
            <div class="col-sm-5">
                <h3><span class="label label-success">Valentines</span><span class="glyphicon glyphicon-heart"></span></h3>
                <span class="label label-danger">#Valentines</span>
                 <span class="label label-danger">#Pokemon</span>
                  <span class="label label-danger">#Reds</span>
                   <span class="label label-danger">#Blues</span>
            </div>
        </div>
        <!-- /.row -->

	 <hr align="left">
    
        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7 pickupeven">
                <h2 class="pickuplineeven" align="center">"Won't you call me give me a coffee invitation, <br>
                 After seeing you I fall everywhere forgetting the concepts of gravitation"</h2>
            </div>
            <div class="col-md-5">
                 <h3><span class="label label-primary">Mathematical</span><span class="glyphicon glyphicon-heart"></span></h3>
                <span class="label label-danger">#Geeky</span>
                 <span class="label label-danger">#Magical</span>
                  <span class="label label-danger">#Heartbeat</span>
                   <span class="label label-danger">#Maths</span>
              </div>
        </div>
        <!-- /.row -->

        <hr align="left">

   <!-- Project One -->
        <div class="row">
            <div class="col-sm-7 pickupodd">
                <h3 class="pickuplineodd" align="center">"Roses are Red Violets are blue, <br> If you were a pokemon I would choose you"</h3>
            </div>
            <div class="col-sm-5">
                <h3>Valentines</h3>
                <span class="label label-danger">#Valentines</span>
                 <span class="label label-danger">#Pokemon</span>
                  <span class="label label-danger">#Reds</span>
                   <span class="label label-danger">#Blues</span>
                   
            </div>
        </div>
        <!-- /.row -->

	<br>
    
        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7 pickupeven">
                <h3 class="pickuplineeven" align="center">"You rock my world steal my dreams like a magical sunshine, <br> My heartbeat lags by pi/2, sinewave changes into a mathematical cosine"</h3>
            </div>
            <div class="col-md-5">
                <h3>Mathematical</h3>
                <h4>#geeky #magic #heartbeat #maths</h4>
              </div>
        </div>
        <!-- /.row -->

  
        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Five</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    
